body{
	padding:0 px;
	margin: 0px;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	background-image:url('2.jpg');
	background-repeat:no-repeat;
	background-size:100%;
}
.container{
	background:#cbced1;
	width:40%;
	height:50vh;
	padding:10px;
	border-radius:12px;

}
.display #screen{
	width:98%;
	height:70%;
	font-size:35px;
	outline:none;
	border:none;
	text-align:right;
	padding-right:5px;
	background:white;
	border-radius:6px;
		       
}
.btns{
	width:100%;
	height:260px;
	margin-top:17px;
	background:#4285f4;
	display:flex;
	border-radius:5px;
	justify-content:center;
	align-items:center;
	flex-direction:column;

}
.btns .row button{
	width:70px;
	height:35px;
	font-size:16px;
	border:none;
	outline:none;
	background:black;
	color:white;
	margin:5px;
	border-radius:4px;
	
}
.btns .row button:hover{
	background:green;
	
}
